@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
.App {
  height: 100vh;
}
.main-body {
  height: 80%;
  background-color: #146281;
}

/* Header  */
.header {
  height: 50%;
  background-color: #e4eaed;
  color: #146281;
  text-align: center;
  font-family: "Koulen", cursive;
}
.logo-name {
  text-align: center;
  padding: 15px;
  font-family: "Koulen", cursive;
}
.currency-container {
  font-size: 20px;
  /* font-family: "Work Sans", sans-serif; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*  Currency Part*/
.currency-part {
  text-align: center;
  padding: 50px 30px 30px 30px;
}

.input {
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  height: 37px;
}
